body {
  color: #40514e;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

.top-container {
    background-color: #9288F8;
    background-repeat: no-repeat;
    position:relative;
    padding-top: 100px;
    padding-bottom: 50px;
}


.middle-container {
    padding-top:100px;
}

h1{
    font-size: 7.5rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento";
    font-style: bold;
    color: #4526E0;
}


h2{
    color: #4526E0;
    font-size: 2rem;
    font-weight: 0;
    padding-bottom: 10px;
}

.pro{
    text-decoration: underline;
}

.circular--square { 
    border-top-left-radius: 50% 50%; 
    border-top-right-radius: 50% 50%; 
    border-bottom-right-radius: 50% 50%; 
    border-bottom-left-radius: 50% 50%; 
    width: 200px;

}

p{
    line-height: 2;
}

.intro{
    width: 150%;
    margin: auto;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.parent1 {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
  }

  .YMCA{
    width: 150%;
    float: left;
    margin-right: 50;
  }

  .YMCA-explained{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }